@import 'tailwindcss';
@import "tailwindcss/preflight";


:root {
  --background: 255, 255, 255; /* Main background */
  --foreground: 0, 0, 0; /* Main text */
  --primary: 0, 123, 255; /* Primary color */
  --secondary: 108, 117, 125; /* Secondary color */
  --accent: 40, 167, 69; /* Accent color */
}

html,
:host {
  -webkit-text-size-adjust: 100%; /* Para navegadores basados en WebKit */
  text-size-adjust: 100%; /* Propiedad estándar para otros navegadores */
}

body {
  font-family: 'Georgia', serif; /* Elegant typography */
}

img {
  width: 150px; /* Enlarge images */
  height: 150px;
  object-fit: cover;
}

bottom-bar {
  height: 80px; /* Enlarge playback bar */
  background-color: rgb(0, 123, 255); /* Distinct color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
